@font-face {
  font-family: "poppin";
  src: url("static/fonts/Poppins/Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "poppin";
  font-size: 14px;
}
.Push--down {
  padding-top: 5rem !important;
  display: block;
}
